body{
    background-color: lightblue;
}

* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
  }

  @mixin divcontainer {
    background-color: rgb(238, 226, 226);
    width: 1600px;
    height: 800px;
    border: 1px solid blue;
  }


  .container{
      @include divcontainer;
  }
  @mixin baelle{
      width: 200px;
      height: 200px;
      background-color: rgb(216, 176, 216);
      border: 1px solid black;
      margin-bottom: 20px;
      border-radius: 50%;
  }


  .ball1, .ball2, .ball3 {
      @include baelle;
  }
  .ball1{
    background-color: red;
    animation-delay: 0s;
  }
  .ball2{
    background-color: blue;
    animation-delay: 1s;
  }

  .ball3{
    background-color:green;
    animation-delay: 2s;
  }

  @keyframes example {
    
    0%   {left:0px; top:0px;}
    25%  { left:900px; top:0px;}
    50%  { left:900px; top:0px;}
    75%  {left:0px; top:0px;}
    100% { left:0px; top:0px;}
  }


  .ball {
    
    position: relative;
    -webkit-animation-name: example;  /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 3s;  /* Safari 4.0 - 8.0 */  
    animation-timing-function: linear;
    animation-name: example;
    animation-duration: 3s;  
  
  }